body {
    background: linear-gradient(100deg, hsl(185, 89%, 53%) , hsl(185, 89%, 53%), hsl(185, 89%, 53%));
  }

  .heading{
      width: 80%;
      font-size: 22px;
      font-family: 'Akaya Telivigala', cursive;
      
  }
  


  .name_object,#result_object_name, #result_object_accuracy{
      color: red;
  }

  #camera, #result{
      border: 2px dashed black;
      width: 350px;
      height: 300px;
  }









  